<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>pessoas</h1>


<ion-item>
  <ion-label position="floating">Nome</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">cpf</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Data de Nascimento</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Telefone</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">E-mail</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Confirmar Senha</ion-label>
  <ion-input></ion-input>
</ion-item>




<ion-button routerLink="/home">
  <ion-icon name="arrow-up-circle"></ion-icon>
</ion-button>
</ion-content>

